@import '~sass/mixins';
@import '~sass/variables';

.song {
	display: grid;
	grid-template-columns: auto 5fr;
	grid-column-gap: 7px;
	padding: 10px 20px 15px 8px;
	@include background;
	position: relative;

	&__info {
		display: grid;
		grid-template-rows: auto auto 1fr;
	}

	&__settings {
		display: none;
	}

	@include atTablet {
		padding: 10px 20px 20px 8px;
		grid-template-columns: auto 5fr 2fr;

		&__artwork {
			display: grid;
			align-self: center;
		}

		&__info {
			grid-template-rows: auto 1fr 1fr 1fr;
		}

		&__settings {
			display: grid;
			justify-content: right;
			grid-template-rows: 1fr 1fr;
		}

		&__settings__add {
			align-self: end;
			text-align: right;
		}
	}
	
}
