@mixin atSmall {
	@media (min-width: 480px) {
			@content;
	}
}

@mixin atMedium {
	@media (min-width: 800px) {
			@content;
	}
}

@mixin atLarge {
	@media (min-width: 1325px) {
			@content;
	}
}

@mixin background {
	background: -moz-linear-gradient(291deg, rgba(9,169,188,1) 0%, rgba(9,169,188,1) 17%, rgba(67,146,223,1) 83%, rgba(67,146,223,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(9,169,188,1)), color-stop(17%, rgba(9,169,188,1)), color-stop(83%, rgba(67,146,223,1)), color-stop(100%, rgba(67,146,223,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(291deg, rgba(9,169,188,1) 0%, rgba(9,169,188,1) 17%, rgba(67,146,223,1) 83%, rgba(67,146,223,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(291deg, rgba(9,169,188,1) 0%, rgba(9,169,188,1) 17%, rgba(67,146,223,1) 83%, rgba(67,146,223,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(291deg, rgba(9,169,188,1) 0%, rgba(9,169,188,1) 17%, rgba(67,146,223,1) 83%, rgba(67,146,223,1) 100%); /* ie10+ */
	background: linear-gradient(159deg, rgba(9,169,188,1) 0%, rgba(9,169,188,1) 17%, rgba(67,146,223,1) 83%, rgba(67,146,223,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09a9bc', endColorstr='#4392df',GradientType=0 ); /* ie6-9 */
	@content;
}

@mixin customFont($fontFamily, $fontWeight, $fontSize) {
	font-family: $fontFamily;
	font-weight: $fontWeight;
	font-size: $fontSize;
	color: #fff;
	@content;
}