@import '~sass/mixins';
@import '~sass/variables';

.info {

	&__title, &__artist, &__collection {
		margin: 0;
		padding: 0;
	}

	&__title {
		@include customFont($roboto, $bold, $tall);
		letter-spacing: 0.05rem;
		cursor: pointer;
	}

	&__artist {
		@include customFont($roboto, $regular, $medium);
		line-height: 1.3;
		align-self: start;
	}

	&__artist__link {
		color: white;
		text-decoration: none;
	}

	&__artist__link:hover {
		text-decoration: underline;
	}

	&__collection {
		@include customFont($roboto, $thin, $medium);
		align-self: end;
	}

	&__purchase {
		display: none;
	}

	@include atTablet {
		
				&__purchase {
					display: grid;
					grid-template-columns: auto 1fr;
					grid-column-gap: 20px;
					align-self: end;
				}
		
}
}