<!-- Home Logo -->
<app-home-logo></app-home-logo>

<!-- Registration Form -->
<div class="registration">
	<form class="registration__form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
		<input type="email" name="email" placeholder="Email" #email="ngModel" required class="registration__form__input" ngModel
		 pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
		/>
		<app-form-validator [form]="myForm.submitted" [control]="email" [type]="'email'"></app-form-validator>

		<input type="text" name="fullname" placeholder="Full Name" #fullname="ngModel" required class="registration__form__input"
		 ngModel />
		<app-form-validator [form]="myForm.submitted" [control]="fullname" [type]="'full name'"></app-form-validator>

		<input type="password" name="password" placeholder="Password" #password="ngModel" required class="registration__form__input"
		 ngModel />
		<app-form-validator [form]="myForm.submitted" [control]="password" [type]="'password'"></app-form-validator>

		<input type="password" name="confirmPassword" placeholder="Confirm Password" #confirmPassword="ngModel" required class="registration__form__input"
		 ngModel />
		<span *ngIf="onConfirmPassword(password, confirmPassword)" class="registration__form__error">Password not matched!</span>

		<button type="submit" class="registration__form__button">Register </button>
	</form>

	<div class="registration__footer">
		<p class="registration__footer__register">Already have an account?
			<a class="registration__footer__register__link" routerLink="/login">Log In</a>
		</p>
	</div>
</div>

<!-- Modal Validates Login & Registration -->
<app-login-validator *ngIf="isLoggedIn && myForm.valid" [code]="status_code" (modal)="setModal($event)"></app-login-validator>