@import '~sass/mixins';
@import '~sass/variables';

body {
	font: 62.5%/1 $roboto;
	background: #0d7280;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

.modal__content .player__timeline--modal {
	top: 5px;

	@include atTablet {
		left:0 !important;
		right:0 !important;
	}
}