// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

// Font Variables
$roboto: 'Roboto', sans-serif;   

/* Font-Weights */
$bold: 600;
$regular: 400;
$light: 300;
$thin: 100;

/* Font-Sizes */
$tall: 1.5rem;
$medium: .825rem;