@import '~sass/mixins';
@import '~sass/variables';

/* The Modal (background) */
.song {
	position: relative;
	background: none;
	margin: 0 auto;
	padding: 0;
	border: none;

	&::before {
    content: '';
    display: block;
		position: absolute;
		bottom: -10px;
    width: 100%;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #ffffff4f;
	}

	&-margin-bottom {
		margin-bottom: 20px;
	}
}
.settings {
	display: grid;
	grid-template-rows: 2fr 1.5fr 2fr;

	&__add {
		align-self: end;
	}

	&__buttons {
		align-self: end;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 6px;
	}

	@include atTablet {
		&__buttons {
			grid-template-columns: auto 1fr;
			grid-column-gap: 20px;
		}
	}
	
}

.modal {
	display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);

	&__content {
		position: relative;
		width: 90%;
		background: linear-gradient(159deg, #09a9bc 0%, #09a9bc 17%, #4392df 83%, #4392df 100%);
		padding: 20px;
		box-sizing: border-box;
  }
  /* The Close Button */
  &__content__close {
    color: #f5f5f5;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: bold;
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &__content__frame {
    height: 100%;
    width: 100%;
  }
  &__content__frame__image {
    max-width: 100%;
    max-height: 100%;
  }
  /* Information starts */
  &__content__info {
    font-size: .8rem;
    color: white;
    letter-spacing: .03rem;
    position: absolute;
    left: 0;
    bottom: 5px;
    background: rgba(1,1,1, .7);
  }

  &__content__info__title {
    padding: 0 5px;
	}
	
	
}