<div class="modal" (click)="setModalInactive($event)">
	<div class="modal__content">
		<div class="song song-margin-bottom">
			<div class="song__artwork">
				<app-song-artwork [song]="song"></app-song-artwork>
			</div>
			<app-song-info [song]="song" class="song__info"></app-song-info>
		</div>

		<div class="settings">
			<app-play-button></app-play-button>
			<div class="settings__add">
				<app-add-button [content]="'Add to favourites'"></app-add-button>
				<app-add-button [content]="'Add to playlist'"></app-add-button>
			</div>
			<div class="settings__buttons">
				<app-purchase-button [price]="song.collectionPrice" [content]="'Buy Album'"></app-purchase-button>
				<app-purchase-button [price]="song.trackPrice" [content]="'Buy Track'"></app-purchase-button>
			</div>
		</div>

	</div>
</div>